@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* border: 1px solid magenta; */
}



/* || SHADOW */
.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


/* || TABLE */
.table-container {
  width: 100%;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

table {
  background-color: var(--background-color);
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
  overflow: auto;
}

thead {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

thead th {
  color: var(--background-color);
  padding: 8px 12px;
  font-size: 0.95rem;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

td {
  color: var(--text-color);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td a {
  /* text-decoration: none; */
  color: var(--secondary-color);
  font-weight: 500;
}


tbody tr {
  max-height: 2rem;
  border-bottom: 1px solid #a8a8a8;
  transition: 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: white;
}