@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* border: 1px solid magenta; */
}

body {
  background-color: var(--background-color);
}

main {
  padding: 1rem;
}


/* TABLE */
.table-container {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
}

table {
  background-color: var(--background-color);
  border-collapse: collapse;
  border: 1px solid var(--text-color);
  border-radius: 8px 8px 0 0;
  width: 90%;
  margin: 12px;
  font-size: 0.9rem;
  overflow: hidden;
}

thead {
  background-color: var(--primary-color);
}

thead th {
  color: var(--background-color);
  padding: 8px 12px;
  font-size: 0.95rem;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

td {
  color: var(--text-color);
}

tbody tr {
  border-bottom: 2px solid var(--color-secondary);
  transition: 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: white;
}