@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* border: 1px solid magenta; */
}



/* || SHADOW */
.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


/* || TABLE */
.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-height: 40vh;
  overflow-y: auto; */
}

table {
  background-color: var(--background-color);
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9rem;
}

thead {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

thead th {
  color: var(--background-color);
  padding: 8px 12px;
  font-size: 0.95rem;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

td {
  color: var(--text-color);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td a {
  color: var(--secondary-color);
  font-weight: 500;
}

tbody tr {
  max-height: 2rem;
  border-bottom: 1px solid #a8a8a8;
  transition: 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.login-container {
  height: 99vh;
  display: flex;
  align-items: center;
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: var(--primary-color);
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.form img {
  width: 64px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="text"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: white;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}