:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}

.dashboard-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 0 2rem 0;
  background: var(--secondary-color);
  padding: 5px 15px;
  color: #eee;
  align-items: center;
}

.dashboard-top h3 {
  margin: 0;
}

.filters {
  display: flex;
  gap: 1rem;
}

.filters label {
  display: flex;
  align-items: center;
}

.filters select {
  font-size: 12px;
  margin-left: 0.5rem;
  padding: 0.3rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 20vw;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}