@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}

.tx-sub {
  padding: 24px;
  background-color: white;
  color: var(--text-color);
  border-radius: 12px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.tx-sub label {
  margin-left: 12px;
  font-size: 1.1rem;
  font-weight: 600;
}

.tx-sub input[type="text"] {
  border: 2px solid #ccc;
}

.tx-sub select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  border-radius: 8px;
}

.tx-sub textarea {
  border: 2px solid #ccc;
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  width: 100%;
  height: 150px;
  padding: 12px;
  border-radius: 8px;
  resize: vertical;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

.tx-sub input[type="file"] {
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.tx-sub input[type="submit"] {
  padding: 12px 16px;
  border: none;
  border-radius: 50rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transform: scale(1);
  transition: 0.3s ease;
}

.tx-sub input[type="submit"]:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.note {
  font-size: 0.9rem;
  margin: 8px;
}

/* popup modal */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-content img,
.popup-content video {
  max-width: 80%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .tx-sub {
    padding: 16px;
    box-shadow: none;
    width: 100%;
    margin: auto;
  }

  .tx-sub label {
    display: block;
    margin: 8px 0 4px;
    font-size: 1rem;
  }

  .tx-sub input[type="text"],
  .tx-sub textarea,
  .tx-sub input[type="file"] {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
  }

  .tx-sub input[type="file"] {
    padding: 10px;
    display: block;
    box-sizing: border-box;
  }

  #file-preview {
    margin-top: 10px;
    max-width: 100%;
  }

  .tx-sub input[type="submit"] {
    width: 100%;
    font-size: 1rem;
    padding: 14px;
  }
}