@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

footer {
  width: 100%;
  height: 40vh;
  background-color: rgb(232, 232, 232);
  padding: 12px;
  font-family: "Outfit", sans-serif;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
}

.footer-section {
  flex: 1;
  min-width: 280px;
  padding: 12px;
}

.footer-logo img {
  width: 100px;
}

.footer-section h4 {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.footer-section p {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 1rem;
}

.footer-section ul {
  padding-left: 20px;
}

.footer-section ul li {
  margin-bottom: 4px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-section ul li a:hover {
  color: var(--secondary-color);
}

.attribution {
  font-size: 0.8rem;
  color: #333;
}

.attribution a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  footer {
    height: auto;
    padding: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
  }

  .footer-logo img {
    width: 80px;
  }
  
}