@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #004080;
  --secondary-color: #D72F2F;
  --text-color: #333;
  --background-color: #f4f4f4;
}


header {
  width: 100vw;
  background-color: var(--background-color);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.title img {
  width: 48px;
  box-shadow: 0 0 0 4px white, 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50rem;
  background: white;
}

.title {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  text-align: center;
  width: 100%;
  color: white;
}

.title-text h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.title-text p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}

.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar ul {
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 12px;
  transform: scale(1);
  transition: 0.3s ease;
}

.navbar ul li:hover {
  transform: scale(1.1);
  margin: 0 24px;
}

.navbar ul li a {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 40px;
  display: inline-block;
  white-space: nowrap;
}

/* Responsive Navbar for Mobile */
@media (max-width: 768px) {
  header {
    background-color: var(--primary-color);
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
    z-index: 999;
  }

  .menu-btn {
    display: block;
    color: var(--primary-color);
  }

  .navbar.show {
    display: flex;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar ul li a {
    color: var(--background-color);
  }

  .login-btn {
    text-align: center;
    margin-top: 10px;
  }
}
